.text-center{
    text-align: center;
    /* background-image: url("PROJECTS/CALCULATOR/95629f34144463.56c58b1959576.jpg"); */
    color:white;
    font-family: 'Kenia', sans-serif;
    font-size:larger;
    /* font-weight: 100; */
    text-decoration: wavy;
    /* transition: cubic-bezier(0.86, 0, 0.07, 1); */
    
}

.bg-color{
    /* background-color: rgb(78, 8, 8); */
    width: 315px;
    height: 515px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-image: url("gettyimages-1347283792-612x612.jpg");
    border: 4px white groove;
}

.mx-auto{
    margin: auto;
}

.flex{
    display:flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    justify-content: center;
    align-items: center;
}